section {
  padding-top: 3rem;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  height: fit-content;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(12deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem 1.7rem;
  text-align: center;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about__card > h5 {
  color: var(--color-primary);
  font-size: medium;
}

.about__info {
  font-size: small;
  color: var(--color-light);
}

.about__card:hover {
  border-color: var(--color-primary);
}

.about__icon {
  color: var(--color-primary);
}

.about__intro {
  padding: 1rem 0;
}
.about__intro p {
  margin: 1rem 0;
}
.about__intro p strong {
  color: var(--color-primary);
}

/* MEDIA QUERIES (TABLE DEVICES) */
@media screen and (max-width: 1024px) {
  #about > h2 {
    margin-bottom: 0;
  }
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 38%;
    height: fit-content;
    margin: 1.7rem auto;
  }

  .about__content {
    text-align: center;
  }
  .about__intro {
    text-align: left;
  }
  .about__intro p {
    margin: 0.3rem 0;
  }

  .about__card {
    padding: 1rem;
  }
}

/* MEDIA QUERIES (MOBILE DEVICES) */
@media screen and (max-width: 600px) {
  #about > h2 {
    margin-top: 0;
  }
  .about__me {
    width: 38%;
    margin: 1rem auto 1.5rem;
  }

  .about__content {
    padding: 0 1rem;
  }

  .about__cards {
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .about__card > h5 {
    font-size: 0.8rem;
  }

  .about__info {
    font-size: 0.6rem;
  }

  .about__intro {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
}
